<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div id="product-content">

    </div>


    <script type="module">
        let param = parent.document.URL.substring(parent.document.URL.indexOf('?') + 1, parent.document.URL.length);
        let productId = param.includes("product") ? param.substring(param.indexOf("=")  + 1 ) : null;
        // alert(product);

        import {products} from '/src/Data/Basket.js';


        let img = document.createElement('img');
        img.src = products[productId].image;

        let description = document.createElement('p');
        description.innerHTML = products[productId].description;

        let container = document.getElementById("product-content");

        container.appendChild(img);
        container.appendChild(description);

    </script>
</body>
</html>
