<html>
    <head>
        <link rel="stylesheet" href="./Sidebar.css">
    </head>
    <div class="Sidebar">
        <div class="Sidebar-Logo">
            <img src="www.google.dk" alt="description of image"/>
        </div>
        <div class="Sidebar-Items">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
                <li>Item 7</li>
            </ul>
            <!-- Items are in this container -->
        </div>
    </div>
</html>