<html>
  <head>
    <title>Bird Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Welcome to Bird Quiz</h1>
    <br />

    <div class="container" style="margin: 10px">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <h3>Please log into your account</h3>
          <form action="/0startPage/_0start.html">
            <label for="firstName">First name:</label><br />
            <input
              class="form-control"
              type="text"
              id="firstName"
              name="firstName"
            /><br />

            <label for="lastName">Last name:</label><br />
            <input
              class="form-control"
              type="text"
              id="lastName"
              name="lastName"
            /><br />

            <input
              class="btn btn-primary"
              type="submit"
              onClick="store()"
              value="Login!"
            />

            <input
              type="button"
              class="btn btn-secondary"
              value="Cancel"
              onClick="history.back(-1)"
            />
          </form>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

    <script type="text/javascript">
      function store() {
        // get first name
        let inputfirstName = document.getElementById("firstName");
        // save first name
        localStorage.setItem("firstName", inputfirstName.value);
        console.log("firstName saved as: " + localStorage.getItem("firstName"));

        // get last name
        let inputlastName = document.getElementById("lastName");
        // save last name
        localStorage.setItem("lastName", inputlastName.value);
        console.log("lastName saved as: " + localStorage.getItem("lastName"));
      }
    </script>
  </body>
</html>
